
.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: rgb(247, 247, 247);
  
}
.nav-ul li{
  display:  inline-block;
  padding: 10px;
  color:rgb(10, 54, 126);
}
.nav-ul li a {
  color:rgb(10, 54, 126);
  text-decoration:none;
  padding: 5px;
}
.footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  color:rgb(10, 54, 126);
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  background-image: url("../public/backgroundImage.svg");
  display: flex;
  flex-direction: column;
}
.App-header {
  background-color: #8111d6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #8111d6;
}

.register, .product{
  margin-left: 30%;
}
.login{
  margin-left: 30%;
  margin-top: 100px;
}

.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}

.appButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: solid 1px;
  cursor: pointer;
}
.nav-right{
  text-align: right;
}
.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}

.invalid-input {
  display: block;
  color: red;
  margin-top: -20px;
  margin-left: 20px;
}

.product-list {
  text-align: center;
  margin-top: 50px;
  color:white;
  
}


.product-list ul li {
  display: inline-block;
  color: white;
  width: 150px;
  border: 1px solid skyblue;
  padding: 5px;
}

.product-list ul{
  margin: 0;
  color: white;
}

.search-product-box {
  width: 400px;
  margin: 20px;
  height: 38px;
  padding-left: 30px;
  border: solid 1px skyblue;
}



li,.profile {
  color: white;
}


